* {
    box-sizing: border-box;
}

.head {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
}

/* .container {
    max-width: 1140px;
    display: flex;
} */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1140px;
}
.head {
    margin-bottom: 30px;
}
.header {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin: 0%;
    background-color: blueviolet;
    align-items: center;
}
.right-el {
    display: flex;
    width: 10px;
}

.cart-btn {
    background-color: coral;
    font-size: 30px;
    margin: 15px 15px 15px 15px;
}
.search-form {
    display: flex;
    height: 30px;
    margin-left: auto;
    width: 300px;
}
.search-field {
    background-color: rgb(247, 242, 241);
    font-size: 30px;
}
.search-glass {
    margin-left: 5px;
    height: 100%;
    width: auto;
}

.by-btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}


.products {
    background-color: rgb(245, 246, 248);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px;
}

.product_img {
    width: 150px;
    height: auto;
}

.product-item {
    background-color:cornsilk;
    border: 4px double rgb(235, 232, 219);
    color: rebeccapurple;
    text-align: center;
    flex: 1 1 calc(100% / 3);
}
.products-in-bascet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
}

/* .product-in-basket {
    background-color: rgb(175, 68, 68);
    font-weight: bold;
} */

.cart {
    min-width: 200px;
    min-height: 300px;
    position: absolute;
    right: 17px;
    top: 60px;
    background-color: rgb(236, 240, 245);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}
.cart-item {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.invisible {
    display: none;
}