* {
    box-sizing: border-box;
}
#app {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1140px;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(87, 72, 72);
    flex-wrap: wrap;
    height: 40px;
}
.title {
    background-color: chartreuse;
    font-size: 35px;
    height: 40px;
}
.search-form {
    size: 10;
    padding: 10px 10px 10px 0;
    height: 100%;
}
.search-field {
    size: 10;
    height: 100%;
    margin-right: -5px;
}
.search-glass {
    width: 12px;
    height: auto;
}
.cart-block {
    display: flex;
    position: relative;
}
.cart {
    position: absolute;
    right: 0px;
    background-color: #fff;
    width: 300px;
    min-height: 50px;
    height: auto;
    top: 37px;
    border: 2px solid;
    border-radius: 5px;
}
.cart-btn {
    margin-top: 10px;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.products {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px;
}
.product-item {
    background-color: rgb(217, 229, 233);
    border: darkblue solid 2px;
    width: 100px;
}
.product-img {
    width: 100%;
    height: auto;
    margin-left: auto;
}