* {
    box-sizing: border-box;
}

.btn-cart {
    background-color: coral;
    font-size: 30px;
}

.products {
    background-color: cornsilk;
}

.product-item {
    color: rebeccapurple;
}

.by-btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}